<mat-toolbar color="primary">
    <button
        [routerLink]="['../']"
        mat-icon-button
        aria-label="back to home page"
    >
        <mat-icon>home</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>

    <button mat-icon-button aria-label="go to github page">
        <mat-icon>cloud_circle</mat-icon>
    </button>
</mat-toolbar>
<nav mat-tab-nav-bar backgroundColor="primary">
    <a
        mat-tab-link
        *ngFor="let link of links"
        [routerLink]="[link.href]"
        (click)="activeLink = link.href"
        [active]="activeLink == link.href"
    >
        {{ link.text }}
    </a>
</nav>
<!-- <li class="nav-item">
<a
  class="nav-link"
  href="javascript:;"
  [routerLink]="['mention']"
  routerLinkActive="active"
  >Mentions</a
>
</li> -->

<router-outlet></router-outlet>
