.comment-email {
  height: 22px;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  border-radius: 0.2rem;
  font-size: 12px;
}
.dynamic-button {
  right: 0;
  transform: translateY(-100%);
}
// label styles
.slate-element-label {
  display: inline-block;
  border-width: 0 2px 0 2px;
  border-color: transparent;
  border-style: solid;
}
.common-label-focus {
  .common-label-container {
    border-color: transparent;
    box-shadow: blud 0px 0px 0px 1px;
  }
}

.common-label-container {
  display: inline-flex;
  width: auto;
  max-width: 220px;
  padding: 0 10px;
  border-radius: 4px;
  vertical-align: top;
  height: 26px;
  background: #eee;
  cursor: pointer;

  &.common-label-focus {
    border-color: transparent;
    box-shadow: #348fe4 0px 0px 0px 1px;
  }

  &.readOnly {
    cursor: inherit;
  }

  .common-label {
    max-width: 220px;

    // &:hover {
    //   background: rgba(#348fe4, 0.2);
    // }
  }
  .dynamic-label-remove {
    line-height: 21px;
    font-size: 22px;
    font-weight: 200;
    transform: rotate(45deg);
    user-select: none;
  }
}
