<h3 class="d-flex justify-content-center">{{ title }}</h3>
<div class="demo-richtext-container position-relative">
  <button
    class="position-absolute dynamic-button"
    mat-button
    [matMenuTriggerFor]="menu"
  >
    动态数据插入
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let item of dynamicDataList">
      <button mat-menu-item (click)="addDynamic(item)">
        {{ item.stepIdentifier }}{{ item.propertyName }}
      </button>
    </ng-container>
  </mat-menu>
  <slate-editable
    [editor]="editor"
    [blur]="onBlur"
    [(ngModel)]="value"
    (ngModelChange)="valueChange($event)"
    [renderElement]="renderElement"
  >
    <ng-template #label let-context="context" let-viewContext="viewContext">
      <common-label
        [context]="context"
        [viewContext]="viewContext"
      ></common-label>
    </ng-template>
  </slate-editable>
</div>
